---
import "../styles/global.css";
---

<section class="bg-black py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-center text-gray-400 mb-8">AVAILABLE ON</p>
      <div class="flex flex-wrap justify-center gap-8 md:gap-16">
        <img
          src="stim.png"
          alt="PlayStation 5"
          class="h-8 opacity-100 hover:opacity-100 transition-opacity"
        />
        <img
          src="playstore.png"
          alt="Xbox Series X"
          class="h-8 opacity-80 hover:opacity-100 transition-opacity"
        />
         <img
          src="playstation.png"
          alt="Xbox Series X"
          class="h-8 opacity-80 hover:opacity-100 transition-opacity"
        />
         <img
          src="windows.png"
          alt="Xbox Series X"
          class="h-8 opacity-80 hover:opacity-100 transition-opacity"
        />
      </div>
    </div>
  </section>